<h2>The Mine</h2>

<label>Miners:</label> {{ globals.miners }} <br />
<label>Money:</label> {{ globals.money }}<br />
<label>Gems:</label> 0 (0) <br />
<label>Upkeep:</label> {{ globals.totalUpkeep }}<br />
<br />
<input type="submit" value="Add Miner" {{action 'addMiner'}} />
<input type="submit" value="Advance Month" />
