<h2>The Mine</h2>

<label>Miners:</label> 0 <br />
<label>Money:</label> 0 <br />
<label>Gems:</label> 0 (0) <br />
<label>Upkeep:</label> 0 <br />
<br />
<input type="submit" value="Add Miner" />
<input type="submit" value="Advance Month" />
