<h2>Settings</h2>

<label>Monthly Upkeep</label>
<input type="number"/> per Miner + <input type="number" />

<br />

<label>% Chance to Find Gem</label> 
<input type="number"/>

<br />

<input type="submit"/>
