<h2>Settings</h2>

<label>Monthly Upkeep</label>
{{input value=costPerMiner}} per Miner + {{input value=upkeepFlatRate }}

<br />

<label>% Chance to Find Gem</label> 
{{input value=chanceToFindGem }}

<br />

<input  type="submit" {{action 'save'}}/>
